.example-row{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.example-content-main{
    border: 3px solid black;
    width: 30%;
    background-color: rgba(185, 185, 177, 0.589);
    margin: 3rem;
}
.example-content-main h5 {
    background-color: rgb(48, 48, 235);
    padding: 3px;
}

.example-content-main b{
    padding: 3px;
}
.input-msg{
    width: 80%;
    height: 10rem;
    margin: 5px;
}

.input-box input{
    margin: 5px;
    width: 80%;
}

.testbtn {
  background-color: #04AA6D;
  color: white;
  font-size: 15px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  width: 80%;
}

.testbtn:hover {
  background-color: #059862;
}

.example-content-secondary{
    border: 3px solid rgba(141, 131, 131, 0.534);
    width: 65%;
    margin: 3rem;
    background-color: rgba(219, 214, 214, 0.74);
}

.example-content-secondary h5 {
    padding: 3px;
    border-bottom: 2px solid black;
}

#projectList{
    padding: 1rem;
}
