.main{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.pengeluaran{
    border: 1px groove rgba(0, 0, 0, 0.438);
    margin: 1rem;
    padding: 10px;
    width: 40%;
}
.pengeluaran h4{
    color: rgb(224, 72, 97);
}
.pengeluaran input{
    width: 100%;
}
.simpandata{
    background-color: rgb(224, 72, 97);
  color: white;
  font-size: 15px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
}
.hasil{
    margin: 1rem;
    border: 1px groove rgba(0, 0, 0, 0.438);
    width: 60%;
}
.hasil h4{
    margin: 1rem;
}